#wrapper {
  background-color: #000;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
#menuWrapper,
#logoWrapper {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
#logoWrapper {
  padding: 10px 20px;
}
#websiteTitle {
  white-space: nowrap;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
#menuWrapper {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  right: 100px;
}
.menuBtn {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  white-space: nowrap;
}
.menuLink {
  text-decoration: none;
  transition: 0.2s;
  color: #fff;
}
.menuLink:hover {
  text-decoration: underline;
}
#moreBtn {
  position: absolute;
  top: 0;
  right: -100px;
  text-align: center;
}
#moreWrapper {
  padding: 14px 25px;
}
#moreWrapper a:hover {
  text-decoration: underline;
}
.more {
  display: none;
  background-color: #000;
  transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
.more .menuLink {
  padding: 5px 15px;
  display: block;
}
#menuBtnWrapper {
  display: none;
}
@media only screen and (min-width: 1024px) {
  #menu {
    display: block;
  }
}
@media only screen and (max-width: 1024px) {
  #menuWrapper {
    display: block;
    right: 0;
  }
  #menu {
    display: none;
  }
  #menuBtnWrapper {
    display: block;
    padding: 14px 25px;
  }
  #menuBtnWrapper a:hover {
    text-decoration: underline;
  }
  .menuBtn {
    display: block;
    background-color: #000;
    margin: 0;
    padding: 10px 20px;
  }
  #moreBtn {
    position: static;
    text-align: left;
  }
  #moreWrapper {
    display: none;
  }
  .more {
    display: block !important;
    padding: 5px;
  }
}
